
body{
	margin: 0;
	padding: 0;
	background-image: url('https://courses.cs.washington.edu/courses/cse190m/09sp/labs/2-journal/images/background.gif');
}

.wrapper{
	border: 10px solid  #fff;
	background-color: #fff;
	margin: 0 10%;
}

.header{
	text-align: right;
	background-color: #a8f0f0;
}

.header h2{
	font-size: 14pt;
}

.section{
	border: 4px solid #c2e9e9;
	background-color: #e8f8f8;
	padding: 10px;
	margin-top: 10px;
	overflow: auto;

}

.section h2{
	margin: 0;	
}

.section span{
	border-bottom: 2px dashed #009097;	
}

.section img{
	float: right;
}

.body{
	display: flex;
	flex-wrap: row 	wrap;
}
.sidebar{
	border: 4px solid #009097;
	align-self: start;
	padding: 10px;
	margin: 10px 10px 0 0;
	line-height: 1;
	background-color: #a8f0f0;
}

.sidebar h1{
	padding: 0;	
	margin: 0;	
}

.sidebar li{
	color: #245F5F;
}

*{
	transition: .1s;
}

*:hover{
	background-color: #888800;
	color: #ff0;
	border-color: #ff0;
}

@media screen and (max-width: 700px) {
  .body {   
    flex-direction: column;
  }
  .section{
  	width: 100%;
  }
}
